body {
  min-height: 100%;
  height: auto;
}
.noPadding {
  padding: 0;
}
.vjWidth {
  width: calc(100% - 95px - 95px);
  margin-left: auto;
  margin-right: auto;
}
.vjHeadline1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}
.vjRowTopMargin {
  margin-top: 40px;
}
.bodyCopy {
  color: rgba(0, 0, 0, 0.9);
  max-width: 530px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  display: inline-block;
}
.vjSectionHeading {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: initial;
  margin-bottom: 8px;
  margin-top: 20px;
}
.widthWrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 200px;
}
@media (min-width: 0px) {
  .widthWrapper {
    width: 100%;
  }
}
.navPlaceholder {
  height: 76px;
}
.headerText {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  text-rendering: geometricPrecision;
  font-weight: 600;
}
.headerContainer {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 18;
  transition: top 0.17s ease-in-out;
}
.headerContainer.headerUp {
  top: calc(-97px);
}
.headerContainer .navWidthWrapper {
  position: relative;
  display: block;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  width: calc(100% - 60px);
  max-width: 1340px;
}
.headerContainer .navWidthWrapper .headerHeightWrapper {
  padding-top: 9px;
  height: 96px;
  display: table;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .logoContainer {
  margin-right: auto;
  position: relative;
  margin-left: 15px;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 4px;
  padding-left: 11px;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .logoContainer .logoLink {
  position: relative;
  display: block;
  text-align: left;
  height: initial;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .logoContainer .logoLink .navLogo {
  position: relative;
  width: 209px;
  padding-top: 0;
  padding-bottom: 0;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer {
  position: absolute;
  right: 0;
  margin-right: 15px;
  top: 39px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  text-rendering: geometricPrecision;
  font-weight: 600;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .textLinksContainer {
  display: inline-block;
  margin-right: 4px;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .textLinksContainer a {
  margin-right: 16px;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .iconsContainer {
  display: inline-block;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .iconsContainer .iconWrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;
  margin-left: 5px;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .burgerContainer {
  right: 0;
  display: none;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .burgerContainer .icon-menu {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: -1px;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .burgerContainer .icon-menu.visible {
  opacity: 1;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .burgerContainer .icon-cancel {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  font-size: 30px;
  top: -4px;
  position: absolute;
  right: -4.5px;
}
.headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .burgerContainer .icon-cancel.visible {
  opacity: 1;
}
.headerContainer .navWidthWrapper .dropdown {
  display: block;
  position: relative;
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
  width: 100%;
  left: 0;
  background-color: white;
}
.headerContainer .navWidthWrapper .dropdown.visible {
  max-height: 300px;
}
.headerContainer .navWidthWrapper .dropdown .dropdownLinksContainer {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  text-rendering: geometricPrecision;
  font-weight: 600;
  font-size: 17px;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 10px;
  text-align: right;
}
.headerContainer .navWidthWrapper .dropdown .dropdownLinksContainer .textLinksContainer {
  display: block;
}
.headerContainer .navWidthWrapper .dropdown .dropdownLinksContainer .textLinksContainer a {
  display: block;
  padding-bottom: 20px;
}
.headerContainer .navWidthWrapper .dropdown .dropdownLinksContainer .iconWrapper {
  display: block;
  text-align: right;
}
.headerContainer .navWidthWrapper .bottomBorder {
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
@media all and (min-width: 1200px) {
  .headerContainer .navWidthWrapper {
    width: calc(100% - 35px - 35px);
  }
  .headerContainer .navWidthWrapper .logoContainer {
    margin-left: auto;
  }
  .headerContainer .navWidthWrapper .rightItemsContainer {
    margin-right: auto;
  }
}
@media all and (max-width: 768px) {
  .headerContainer .navWidthWrapper .headerHeightWrapper {
    height: 76px;
  }
  .headerContainer .navWidthWrapper .headerHeightWrapper .logoContainer .logoLink .navLogo {
    width: 195px;
    padding-top: 19px;
  }
  .headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer {
    top: 23px;
  }
  .headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .textLinksContainer {
    display: none;
  }
  .headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .iconsContainer {
    margin-right: 50px;
    margin-top: 4px;
  }
  .headerContainer .navWidthWrapper .headerHeightWrapper .rightItemsContainer .burgerContainer {
    display: initial;
  }
}
.navDropdownOutside {
  border: 1px solid black;
}
.footerText {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  text-rendering: geometricPrecision;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
.footerContainer {
  background-color: white;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 86px;
  padding-top: 24px;
}
.footerContainer .footerWidthWrapper {
  width: calc(100% - 95px - 95px);
  height: 100%;
  margin: 0 auto;
  text-align: left;
  position: relative;
  max-width: 1340px;
  padding-left: 11px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  text-rendering: geometricPrecision;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
.footerContainer .footerWidthWrapper a {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  text-rendering: geometricPrecision;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
.footerContainer .footerWidthWrapper button {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  text-rendering: geometricPrecision;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
.footerContainer .footerWidthWrapper .leftFooterColumn {
  width: auto;
  position: relative;
}
.footerContainer .footerWidthWrapper .leftFooterColumn .socialIcons img {
  bottom: 1px;
  position: relative;
}
.footerContainer .footerWidthWrapper .rightFooterColumn {
  position: absolute;
  right: 0;
  width: auto;
  padding-right: 15px;
}
.footerContainer .footerWidthWrapper .footerLink:hover {
  color: rgba(0, 0, 0, 0.7);
}
.footerContainer .footerWidthWrapper .socialIcons {
  color: red;
}
.footerContainer .footerWidthWrapper .socialIcons:hover {
  color: rgba(0, 0, 0, 0.7);
}
@media all and (max-width: 1200px) {
  .footerContainer .footerWidthWrapper {
    width: calc(100% - 15px - 15px);
    text-align: left;
    display: block;
    height: 100%;
    margin: 0 auto;
  }
  .footerContainer .footerWidthWrapper .leftFooterColumn {
    left: initial;
    margin-left: 20px;
  }
}
@media all and (max-width: 780px) {
  .footerContainer {
    height: initial;
    padding-bottom: 20px;
  }
  .footerContainer .footerWidthWrapper {
    width: calc(100% - 15px - 15px);
    margin: 0 auto;
    text-align: left;
  }
  .footerContainer .footerWidthWrapper .topBorder {
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
  }
  .footerContainer .footerWidthWrapper .leftFooterColumn {
    left: initial;
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  .footerContainer .footerWidthWrapper .rightFooterColumn {
    position: initial;
    display: block;
    right: initial;
    text-align: left;
    margin-left: 20px;
  }
  .footerContainer .footerWidthWrapper .footerLinks {
    display: block;
    margin-top: 18px;
    height: initial;
    padding-bottom: 20px;
  }
  .footerContainer .footerWidthWrapper .footerLinks li {
    display: block;
    margin-top: 10px;
  }
  .footerContainer .footerWidthWrapper .footerLinks li .footerLink {
    margin-left: 0;
  }
}
.modalOverlay {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 30;
  padding: 0;
}
.modalOverlay:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
}
.modalContainer {
  width: 100%;
  height: 100vh;
  position: relative;
}
.modalContainer .title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: initial;
  margin-bottom: 30px;
}
.modalWindow {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  padding: 30px;
  min-width: 600px;
  min-height: 500px;
  display: table;
}
.modalWindow .modalClose {
  top: 0px;
  right: 0px;
  margin-top: 15px;
  margin-right: 15px;
}
.modalWindow .modalClose .closeButton {
  content: url("/preorder/images/x.svg");
  width: 15px;
  height: 15px;
  opacity: .5;
}
.modalWindow .contentContainer {
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 40px;
}
.modalWindow .contentContainer #injectModal div:first-of-type {
  display: inline-block;
}
.modalWindow .modalWrapper-contact .title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: initial;
  margin-bottom: 30px;
}
.modalWindow .modalWrapper-contact .box {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 70px;
  padding-bottom: 66px;
}
.modalWindow .modalWrapper-contact .box .row {
  padding-bottom: 11px;
}
.modalWindow .modalWrapper-contact .box .row .label {
  font-weight: bold;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 80px;
}
.modalWindow .modalWrapper-contact .box .row .copy {
  display: inline-block;
  width: 230px;
  text-align: left;
  padding-left: 20px;
}
@media (min-width: 741px) {
  .modalWindow {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  }
}
.cartPage {
  padding-top: 76px;
  min-height: calc(100vh - 86px);
}
.cartPage .widthWrapper {
  max-width: 1200px;
}
.postcardLandingScreen .landingFrame {
  text-align: center;
  height: 100vh;
  padding-top: 96px;
  padding-bottom: 116px;
}
.postcardLandingScreen .landingFrame .postcardFrame {
  position: relative;
  background-position-x: center;
  background-position-y: 70%;
  background-size: cover;
  text-align: left;
  overflow: hidden;
  width: 1470px;
  margin: auto;
  height: 100%;
  top: initial;
  display: table;
}
.postcardLandingScreen .landingFrame .postcardFrame .sizeHelper {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.landingPage-framed-aspect {
  /*
	.image {
		background-color: rgba(0, 0, 0, 0.1);
		height: 400px;
		width: 100%;
		display: inline-block;
		vertical-align: top;
		background-size: cover;
		background-position-y: center;
		&#designPrinciples {
			background-image: url("/img/techpacks_q6.jpg");
		}
		&#whatMakesUsUnique {
			background-image: url("/img/IMG_5383_RT.jpg");
		}
		&#productCollections {
			background-image: url("/img/2016-12-08 13.04.20_rt2_50_q9.jpg");
		}
		&#makingTheBest {
			background-image: url("/img/label_with_edition_number_IMG_5437_RT.jpg");
		}
		&#qualityMaterials {
			background-image: url("/img/drawstring top edge_q7.jpg");
			background-position-y: 25%;
			background-position-x: 30%;
		}
		&#theTeam {
			background-image: url("/img/2016-12-08 11.59.52_rt1_50_q9.jpg");
			background-size: 140%;
			background-position-x: 39%;
			background-position-y: 49%;
		}
		&#buyingFromVirgilJames {
			background-image: url("/img/2016-12-08 12.27.10_rt1_50_q9.jpg");
		}
	}
	.sectionHeading {
		.vjSectionHeading;
		margin-bottom: 18px;
	}
	*/
}
.landingPage-framed-aspect .contentContainer {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
.landingPage-framed-aspect .contentContainer .carouselContainer {
  display: inline-block;
  width: 100%;
  margin: 0;
  min-height: 100px;
  max-height: 650px;
  position: relative;
  max-width: 600px;
  top: initial;
  transform: initial;
  vertical-align: bottom;
  height: auto;
  height: 650px;
}
.landingPage-framed-aspect .contentContainer .carouselContainer .carouselImageContainer img {
  animation-duration: 2s;
  -vendor-animation-duration: 2s;
  -vendor-animation-delay: 0s;
  -vendor-animation-iteration-count: infinite;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.landingPage-framed-aspect .contentContainer .carouselContainer .carouselImageContainer img.fadeout {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
.landingPage-framed-aspect .contentContainer .carouselContainer .carouselImageContainer img.fadein {
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
.landingPage-framed-aspect .contentContainer .carouselContainer .controls {
  right: initial;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
  opacity: .5;
  bottom: 32px;
}
.landingPage-framed-aspect .contentContainer .carouselContainer .controls .dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 5px 5px;
  opacity: 0.3;
  border-radius: 20px;
  background: black;
}
.landingPage-framed-aspect .contentContainer .carouselContainer .controls .dot.active {
  opacity: .7;
}
.landingPage-framed-aspect .contentContainer .textContainer {
  position: relative;
  width: auto;
  right: initial;
  top: initial;
  transform: initial;
  display: inline-block;
  vertical-align: top;
  height: auto;
  padding-top: 110px;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText {
  color: black;
  text-align: center;
  top: 41%;
  width: 510px;
  display: inline-block;
  left: 0;
  right: initial;
  transform: translate(0, -50%);
  top: initial;
  transform: none;
  display: table;
  vertical-align: middle;
  position: relative;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText .headlineContainer {
  text-align: center;
  margin: 9px 0 17px 0;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText .headlineContainer .headline {
  font-weight: 100;
  line-height: 73px;
  margin-bottom: 10px;
  color: black;
  font-size: 40px;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText .headlineContainer .headline .part1 {
  display: inline-block;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText .headlineContainer .headline .part2 {
  display: inline-block;
  margin-left: 3px;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText .headlineContainer .headline .light {
  font-weight: 100;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText .headlineContainer .headline .heavy {
  font-weight: 600;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText .copy {
  max-width: 540px;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  display: inline-block;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText .hline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 1px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText .box {
  margin-top: 60px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  padding: 32px 40px;
  vertical-align: middle;
  text-transform: uppercase;
  color: black;
  display: inline-block;
  transition: .3s;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: .7px;
  text-rendering: geometricPrecision;
  text-decoration: none;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText .box .title {
  display: inline-block;
}
.landingPage-framed-aspect .contentContainer .textContainer .preorderText .box:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.aboutPage {
  display: block;
  text-align: left;
}
.aboutPage.shopPage .landingFrame {
  height: 100vh;
  padding-bottom: 116px;
}
.aboutPage.shopPage .landingFrame .imageContainer {
  background-image: url("/img/grays_q9.jpg");
  border-radius: initial;
}
.aboutPage.shopPage .landingFrame .imageContainer .textBlockMain {
  color: black;
}
.aboutPage.shopPage .landingFrame .imageContainer .textBlockMain .copy {
  color: black;
  text-shadow: initial;
}
.aboutPage.landingPageFramed .landingFrame {
  height: 100vh;
  padding-bottom: 116px;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer {
  background-image: url("/img/landing_page_postcard_bg_q9.jpg");
  border-radius: initial;
  display: table;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .carouselContainer {
  display: inline-block;
  width: 100%;
  margin: 0;
  min-height: 100px;
  max-height: 650px;
  position: relative;
  max-width: 600px;
  top: initial;
  transform: initial;
  vertical-align: bottom;
  height: auto;
  height: 650px;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .carouselContainer .carouselImageContainer img {
  animation-duration: 2s;
  -vendor-animation-duration: 2s;
  -vendor-animation-delay: 0s;
  -vendor-animation-iteration-count: infinite;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .carouselContainer .carouselImageContainer img.fadeout {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .carouselContainer .carouselImageContainer img.fadein {
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .carouselContainer .controls {
  right: initial;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
  bottom: 44px;
  position: absolute;
  width: 100%;
  left: 0;
  opacity: .5;
  bottom: 32px;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .carouselContainer .controls .dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 5px 5px;
  opacity: 0.3;
  border-radius: 20px;
  background: black;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .carouselContainer .controls .dot.active {
  opacity: .7;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer {
  position: relative;
  width: auto;
  right: initial;
  top: initial;
  transform: initial;
  display: inline-block;
  vertical-align: top;
  height: auto;
  padding-top: 110px;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText {
  color: black;
  text-align: center;
  top: 41%;
  width: 510px;
  display: inline-block;
  left: 0;
  right: initial;
  transform: translate(0, -50%);
  top: initial;
  transform: none;
  display: table;
  vertical-align: middle;
  position: relative;
  /*
	    			    	.boxes {
	    			    		text-align: center;
	    			    		display: inline-block;
	    			    		border: 1px solid black;
	    			    		margin-top: 50px;
	    			    		.vline {
	    			    			width: 1px;
	    			    			height: 100px;
	    			    			border-left: 1px solid rgba(0,0,0, .2);
	    			    			display: inline-block;
	    			    			vertical-align: middle;
	    			    		}
	    			    		.box {
	    			    			cursor: pointer;
	    						    padding: 50px 0;
	    						    vertical-align: middle;
	    						    width: 212px;
	    						    text-transform: uppercase;
	    			    			color: black;
	    			    			display: inline-block;
	    						    transition: .3s;
	    						    font-size: 22px;
	    						    font-weight: 800;
	    						    letter-spacing: .7px;
	    						    text-rendering: geometricPrecision;
	    						    text-decoration: none;
	    						    .title {
	    						    	display: inline-block;
	    						    }
	    						    .subtitle {
	    						    	font-size: 12px;
	    						    	text-transform: uppercase;
	    						    	font-weight: 500;
	    						    	letter-spacing: .8px;
	    						    	margin-top: 2px;
	    						    }
	    						    &:hover {
	    					    	    background-color: rgba(255, 255, 255, 0.2);
	    						    }
	    			    		}
	    			    	}
	    			    	*/
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText .headlineContainer {
  text-align: center;
  margin: 9px 0 17px 0;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText .headlineContainer .headline {
  color: black;
  font-size: 40px;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText .headlineContainer .headline .part1 {
  display: inline-block;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText .headlineContainer .headline .part2 {
  display: inline-block;
  margin-left: 3px;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText .headlineContainer .headline .light {
  font-weight: 100;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText .headlineContainer .headline .heavy {
  font-weight: 600;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText .copy {
  max-width: 540px;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  display: inline-block;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText .hline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 1px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText .box {
  margin-top: 60px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  padding: 32px 40px;
  vertical-align: middle;
  text-transform: uppercase;
  color: black;
  display: inline-block;
  transition: .3s;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: .7px;
  text-rendering: geometricPrecision;
  text-decoration: none;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText .box .title {
  display: inline-block;
}
.aboutPage.landingPageFramed .landingFrame .imageContainer .contentContainer .textContainer .preorderText .box:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.aboutPage .aspectRatio {
  padding-bottom: 61%;
  height: 0;
}
.aboutPage .image {
  background-color: rgba(0, 0, 0, 0.1);
  height: 400px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
  background-position-y: center;
  padding-bottom: 61%;
  height: 0;
}
.aboutPage .image#designPrinciples {
  background-image: url("/img/techpacks_q6.jpg");
}
.aboutPage .image#whatMakesUsUnique {
  background-image: url("/img/IMG_5383_RT.jpg");
}
.aboutPage .image#productCollections {
  background-image: url("/img/2016-12-08 13.04.20_rt2_50_q9.jpg");
}
.aboutPage .image#makingTheBest {
  background-image: url("/img/label_with_edition_number_IMG_5437_RT.jpg");
}
.aboutPage .image#qualityMaterials {
  background-image: url("/img/drawstring top edge_q7.jpg");
  background-position-y: 25%;
  background-position-x: 30%;
}
.aboutPage .image#theTeam {
  background-image: url("/img/2016-12-08 11.59.52_rt1_50_q9.jpg");
  background-size: 140%;
  background-position-x: 39%;
  background-position-y: 49%;
}
.aboutPage .image#buyingFromVirgilJames {
  background-image: url("/img/2016-12-08 12.27.10_rt1_50_q9.jpg");
}
.aboutPage .sectionHeading {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: initial;
  margin-bottom: 8px;
  margin-top: 20px;
  margin-bottom: 18px;
}
.aboutPage .headline {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 100;
  line-height: 73px;
  margin-bottom: 10px;
}
.aboutPage .copy {
  font-size: 20px;
  font-weight: 300;
  line-height: 31px;
}
.aboutPage .landingFrame {
  text-align: center;
  height: calc(100vh - 45px);
  padding-top: 96px;
}
.aboutPage .landingFrame .imageContainer {
  position: relative;
  background-image: url("/preorder/images/about_hero3_IMG_8871.jpg");
  background-position-x: center;
  background-position-y: 70%;
  background-size: cover;
  text-align: left;
  overflow: hidden;
  width: 1470px;
  margin: auto;
  /*
    	    border-top-left-radius: 30px;
    	    border-bottom-right-radius: 30px;
    	    */
  height: 100%;
  top: initial;
}
.aboutPage .landingFrame .imageContainer .textBlockMain {
  color: white;
  max-width: 680px;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 18%;
}
.aboutPage .landingFrame .imageContainer .textBlockMain .headline {
  position: relative;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 11px;
}
.aboutPage .landingFrame .imageContainer .textBlockMain .copy {
  color: rgba(0, 0, 0, 0.9);
  max-width: 530px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: white;
  position: relative;
  display: inline-block;
  line-height: 29px;
  font-weight: 200;
  font-size: 20px;
  max-width: 520px;
  font-weight: 300;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.aboutPage .landingFrame .imageContainer .blackGlow {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 34%;
  top: 51%;
  opacity: .3;
}
.aboutPage .landingFrame .downArrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  bottom: 25px;
  width: 25px;
  opacity: .45;
  filter: invert(1);
}
.aboutPage .belowLandingFrame {
  margin-top: 40px;
  margin-bottom: 100px;
}
.aboutPage .belowLandingFrame .container .row {
  margin-top: 130px;
}
.aboutPage .belowLandingFrame .container .row .textContainer {
  padding-left: 60px;
}
.aboutPage .belowLandingFrame .container .row:nth-of-type(1) {
  margin-top: 70px;
}
@media all and (max-width: 1200px) {
  body .aboutPage .landingFrame .mainFrame {
    margin: 0 30px;
    /*
					height: calc(~"100vh - 76px - 56px");
					*/
    height: calc(100vh - 76px - 73px);
  }
  body .aboutPage .landingFrame .mainFrame .textBlockMain {
    max-width: 450px;
  }
  body .aboutPage .landingFrame .downArrow {
    transform: translate(-50%, 0) scale(0.7);
    transform-origin: bottom;
    bottom: 15px;
  }
  body .aboutPage .belowLandingFrame .sectionHeading {
    margin-top: 40px;
  }
}
@media all and (max-width: 768px) {
  body .aboutPage.bg1 .landingFrame {
    height: auto;
    margin-top: 76px;
  }
  body .aboutPage.bg1 .landingFrame .mainFrame {
    height: auto;
    background-image: none;
    top: 0;
  }
  body .aboutPage.bg1 .landingFrame .mainFrame .textBlockMain {
    color: black;
    top: initial;
    transform: none;
    margin: 0 30px;
    max-width: initial;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  body .aboutPage.bg1 .landingFrame .mainFrame .textBlockMain .headline {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: 31px;
    line-height: initial;
    margin-bottom: 13px;
  }
  body .aboutPage.bg1 .landingFrame .mainFrame .textBlockMain .copy {
    color: black;
    line-height: 28px;
    font-weight: 300;
    font-size: 16px;
    max-width: initial;
  }
  body .aboutPage.bg1 .landingFrame .downArrow {
    display: none;
  }
  body .aboutPage.bg1 .landingFrame .blackGlow {
    display: none;
  }
  body .aboutPage .belowLandingFrame {
    margin-top: 0;
  }
  body .aboutPage .belowLandingFrame .sectionHeading {
    margin-top: 40px;
    font-size: 31px;
    margin-left: 15px;
    margin-right: 15px;
  }
  body .aboutPage .belowLandingFrame .copy {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.preorderPage .landingFrame {
  text-align: center;
  min-height: calc(100vh - 86px);
  padding-top: 96px;
}
.preorderPage .landingFrame .mainFrame {
  text-align: left;
  min-height: calc(100vh - 76px - 86px);
  position: relative;
  background-image: none;
  top: 0;
  display: table;
  width: 100%;
  margin: 0;
}
.preorderPage .landingFrame .mainFrame .contentContainer {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
.preorderPage .landingFrame .mainFrame .contentContainer .imageContainer {
  display: inline-block;
  width: 100%;
  margin: 0;
  min-height: 100px;
  max-height: 650px;
  position: relative;
  max-width: 600px;
  top: initial;
  transform: initial;
  vertical-align: bottom;
  height: auto;
  height: 650px;
}
.preorderPage .landingFrame .mainFrame .contentContainer .imageContainer .image img {
  animation-duration: 2s;
  -vendor-animation-duration: 2s;
  -vendor-animation-delay: 0s;
  -vendor-animation-iteration-count: infinite;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.preorderPage .landingFrame .mainFrame .contentContainer .imageContainer .image img.fadeout {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
.preorderPage .landingFrame .mainFrame .contentContainer .imageContainer .image img.fadein {
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
.preorderPage .landingFrame .mainFrame .contentContainer .imageContainer .controls {
  right: initial;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
  bottom: 44px;
  position: absolute;
  width: 100%;
  left: 0;
  opacity: .5;
  bottom: 32px;
}
.preorderPage .landingFrame .mainFrame .contentContainer .imageContainer .controls .dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 5px 5px;
  opacity: 0.3;
  border-radius: 20px;
  background: black;
}
.preorderPage .landingFrame .mainFrame .contentContainer .imageContainer .controls .dot.active {
  opacity: .7;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer {
  position: relative;
  width: auto;
  right: initial;
  top: initial;
  transform: initial;
  display: inline-block;
  vertical-align: top;
  height: auto;
  padding-top: 110px;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText {
  color: black;
  text-align: center;
  top: 41%;
  width: 510px;
  display: inline-block;
  left: 0;
  right: initial;
  transform: translate(0, -50%);
  top: initial;
  transform: none;
  display: table;
  vertical-align: middle;
  position: relative;
  /*
    			    	.boxes {
    			    		text-align: center;
    			    		display: inline-block;
    			    		border: 1px solid black;
    			    		margin-top: 50px;
    			    		.vline {
    			    			width: 1px;
    			    			height: 100px;
    			    			border-left: 1px solid rgba(0,0,0, .2);
    			    			display: inline-block;
    			    			vertical-align: middle;
    			    		}
    			    		.box {
    			    			cursor: pointer;
    						    padding: 50px 0;
    						    vertical-align: middle;
    						    width: 212px;
    						    text-transform: uppercase;
    			    			color: black;
    			    			display: inline-block;
    						    transition: .3s;
    						    font-size: 22px;
    						    font-weight: 800;
    						    letter-spacing: .7px;
    						    text-rendering: geometricPrecision;
    						    text-decoration: none;
    						    .title {
    						    	display: inline-block;
    						    }
    						    .subtitle {
    						    	font-size: 12px;
    						    	text-transform: uppercase;
    						    	font-weight: 500;
    						    	letter-spacing: .8px;
    						    	margin-top: 2px;
    						    }
    						    &:hover {
    					    	    background-color: rgba(255, 255, 255, 0.2);
    						    }
    			    		}
    			    	}
    			    	*/
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText .headlineContainer {
  text-align: center;
  margin: 9px 0 17px 0;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText .headlineContainer .headline {
  color: black;
  font-size: 40px;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText .headlineContainer .headline .part1 {
  display: inline-block;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText .headlineContainer .headline .part2 {
  display: inline-block;
  margin-left: 3px;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText .headlineContainer .headline .light {
  font-weight: 100;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText .headlineContainer .headline .heavy {
  font-weight: 600;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText .copy {
  max-width: 540px;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  display: inline-block;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText .hline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 1px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText .box {
  margin-top: 60px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  padding: 32px 40px;
  vertical-align: middle;
  text-transform: uppercase;
  color: black;
  display: inline-block;
  transition: .3s;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: .7px;
  text-rendering: geometricPrecision;
  text-decoration: none;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText .box .title {
  display: inline-block;
}
.preorderPage .landingFrame .mainFrame .contentContainer .textContainer .preorderText .box:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@media all and (max-width: 1150px) {
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer {
    max-height: 472px;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText {
    width: 260px;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .headline {
    font-size: 26px;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .titleContainer {
    margin-top: 7px;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .titleContainer .title {
    font-size: 32px;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .titleContainer .title .part1 {
    display: block;
    font-size: 61px;
    line-height: 41px;
    font-weight: 700;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .titleContainer .title .part2 {
    display: block;
    line-height: initial;
    letter-spacing: initial;
    font-size: 37px;
    margin: 0;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .copy {
    font-size: 16px;
    display: none;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .boxes {
    margin-top: 0;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .boxes .box {
    padding: 30px;
    display: block;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .boxes .vline {
    height: 1px;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    width: auto;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media all and (max-width: 768px) {
  .preorderPage.bg-whiter .landingFrame .mainFrame .backgroundContainer-custom {
    width: 100%;
    padding-top: 140px;
    padding-bottom: 60px;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .backgroundContainer-custom .image {
    background-position-x: center;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .backgroundContainer-custom .controls {
    display: none;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .backgroundContainer {
    background-position-y: top;
    background-position-x: center;
    top: initial;
    transform: none;
    margin-top: 190px;
    height: 100%;
    width: 100%;
    max-height: 490px;
    margin-top: 170px;
    background-position-x: calc(50% - -7px);
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer {
    position: initial;
    width: auto;
    height: auto;
    right: initial;
    top: initial;
    transform: none;
    max-height: initial;
    padding-top: 0;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText {
    width: 100%;
    top: initial;
    right: initial;
    transform: initial;
    position: relative;
    padding-top: 20px;
    margin-top: 0;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .headline {
    font-size: 30px;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .titleContainer {
    display: none;
    margin: 0;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .titleContainer .title {
    font-size: 24px;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .copy {
    display: none;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .boxes {
    margin-top: 10px;
    border-color: rgba(0, 0, 0, 0.6);
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .boxes .box {
    width: 150px;
    font-size: 19px;
    padding: 20px 23px;
    display: inline-block;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .boxes .box .subtitle {
    margin-top: 0;
    position: relative;
    top: -3px;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .boxes .box:nth-of-type(1) {
    padding-right: 16px;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .boxes .box:nth-of-type(2) {
    padding-left: 16px;
  }
  .preorderPage.bg-whiter .landingFrame .mainFrame .contentContainer .preorderText .boxes .vline {
    height: 66px;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: middle;
  }
  .preorderPage .landingFrame .mainFrame {
    margin: 0;
    min-height: calc(100vh - 76px);
    background: none;
  }
  .preorderPage .landingFrame .mainFrame .preorderText {
    width: 100%;
    top: initial;
    right: initial;
    transform: initial;
    margin-top: 24px;
    position: relative;
  }
  .preorderPage .landingFrame .mainFrame .preorderText .headline {
    font-size: 30px;
  }
  .preorderPage .landingFrame .mainFrame .preorderText .titleContainer {
    display: none;
    margin: 0;
  }
  .preorderPage .landingFrame .mainFrame .preorderText .titleContainer .title {
    font-size: 24px;
  }
  .preorderPage .landingFrame .mainFrame .preorderText .copy {
    display: none;
  }
  .preorderPage .landingFrame .mainFrame .preorderText .boxes {
    margin-top: 10px;
    border-color: rgba(0, 0, 0, 0.6);
  }
  .preorderPage .landingFrame .mainFrame .preorderText .boxes .box {
    width: 150px;
    font-size: 19px;
    padding: 20px 23px;
  }
  .preorderPage .landingFrame .mainFrame .preorderText .boxes .box .subtitle {
    margin-top: 0;
    position: relative;
    top: -3px;
  }
  .preorderPage .landingFrame .mainFrame .preorderText .boxes .box:nth-of-type(1) {
    padding-right: 16px;
  }
  .preorderPage .landingFrame .mainFrame .preorderText .boxes .box:nth-of-type(2) {
    padding-left: 16px;
  }
  .preorderPage .landingFrame .mainFrame .preorderText .boxes .vline {
    height: 50px;
  }
  .preorderPage .landingFrame .mainFrame .imageWrapper {
    display: none;
  }
  .preorderPage .footerContainer {
    display: none;
  }
}
@media all and (max-width: 600px) {
  .preorderPage.bg-whiter .landingFrame .mainFrame .backgroundContainer {
    margin-top: 170px;
    background-position-x: calc(50% - -7px);
    max-height: 330px;
  }
}
.journalPage {
  margin-top: 96px;
  padding-top: 40px;
}
.journalPage .widthWrapper {
  width: 1170px;
  text-align: left;
}
.journalPage .lifestyle-section-title-block {
  border: none;
  margin-bottom: 40px;
  padding-left: 40px;
  font-size: 43px;
  line-height: initial;
  text-transform: uppercase;
  font-family: 'proxima-nova', sans-serif;
  font-style: initial;
  color: black;
}
.journalPage .lifestyle-section-title-block .part1 {
  display: inline-block;
  font-weight: 600;
}
.journalPage .lifestyle-section-title-block .part2 {
  display: inline-block;
  font-weight: 100;
  margin-left: 0;
}
.journalPage .lifestyle-post-block {
  width: 49%;
  display: inline-block;
  padding: 0 40px;
  padding-bottom: 60px;
  vertical-align: top;
}
.journalPage .lifestyle-post-block .imageContainer {
  width: 100%;
}
.journalPage .lifestyle-post-block .imageContainer .image {
  height: 330px;
  width: 100%;
  display: inline-block;
  background-size: cover;
  background-position-y: center;
}
.journalPage .lifestyle-post-block .textContainer {
  display: inline-block;
  padding-top: 10px;
}
.journalPage .lifestyle-post-block .textContainer .title {
  font-size: 24px;
  font-weight: 700;
  line-height: initial;
  margin-top: 14px;
  margin-bottom: 6px;
}
.journalPage .lifestyle-post-block .textContainer p {
  margin-bottom: 5px;
  font-size: 20px;
  font-size: 18px;
  line-height: 25px;
}
.journalPage .lifestyle-post-block .textContainer .readMoreLink {
  color: #000000;
  text-decoration: underline;
  margin-top: 6px;
  display: inline-block;
}
.journalPage .jscroll-added {
  display: inline-block;
  width: 49%;
}
.journalPage .jscroll-added .lifestyle-post-block {
  width: 100%;
}
.collectionPage {
  font-family: proxima-nova, sans-serif;
  min-height: 100%;
  top: 76px;
  position: relative;
}
.collectionPage .widthWrapper {
  width: 1170px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.collectionPage .topRow {
  min-height: 40px;
  text-align: left;
  padding-left: 92px;
  padding-top: 60px;
  padding-left: 133px;
}
.collectionPage .topRow .headline {
  color: black;
  font-size: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.collectionPage .topRow .headline .part1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}
.collectionPage .topRow .headline .part2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 100;
  margin-left: 5px;
}
.collectionPage .topRow .text {
  color: rgba(0, 0, 0, 0.9);
  max-width: 530px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 13px;
  display: inline-block;
}
.collectionPage .item {
  width: 33%;
  display: inline-block;
  position: relative;
  width: 50%;
  padding: 0 50px;
  padding-bottom: 20px;
  padding-top: 70px;
}
.collectionPage .item img {
  width: 100%;
  padding: 20px;
  padding: 0;
}
.collectionPage .item .caption {
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 98px;
  font-size: 16px;
  left: 124px;
}
.collectionPage .item .caption .title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5px;
}
.collectionPage .item .caption .price {
  font-weight: 100;
}
@media all and (max-width: 740px) {
  body .collectionPage .topRow .headline {
    font-size: 36px;
  }
}
@media all and (max-width: 630px) {
  body .collectionPage .topRow .headline {
    font-size: 27px;
  }
}
@media all and (max-width: 1170px) {
  .collectionPage .widthWrapper {
    width: 780px;
  }
  .collectionPage .item {
    width: 49%;
  }
}
@media all and (max-width: 780px) {
  .collectionPage .topRow {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 34px;
  }
  .collectionPage .topRow .headline {
    margin-top: 0;
    line-height: 31px;
  }
  .collectionPage .topRow .headline .part1 {
    font-size: 38px;
    display: block;
  }
  .collectionPage .topRow .headline .part2 {
    margin-left: 0;
    font-size: 24px;
    display: block;
  }
  .collectionPage .topRow .text {
    line-height: 25px;
    font-size: 16px;
  }
  .collectionPage .item {
    width: 100%;
  }
}
.productPage {
  top: 106px;
  position: relative;
}
.productPage .widthWrapper {
  max-width: 1170px;
}
.productPage .breadcrumb {
  display: none;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: left;
  padding-top: 10px;
  letter-spacing: -0.03pt;
}
.productPage .breadcrumb a {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
}
.productPage .breadcrumb a:before {
  content: " > ";
  opacity: .5;
}
.productPage .breadcrumb a.first:before {
  content: "";
}
.productPage .breadcrumb .hline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-bottom: 0;
}
.productPage .rowTop {
  padding-top: 30px;
  padding-bottom: 29px;
}
.productPage .rowTop .productImageContainer {
  display: inline-block;
  vertical-align: top;
  width: 490px;
  /*
	    	// temp fix because product image from thumbnail has too much margin
	    	height: 469px;
	    	background-size: 140%;
	    	background-repeat: no-repeat;
	        background-position-x: 50%;
	    	background-position-y: 112%;
	    	*/
}
.productPage .rowTop .productImageContainer img {
  width: 100%;
}
.productPage .rowTop .productDescriptionContainer {
  display: inline-block;
  margin-top: 40px;
  text-align: left;
  padding-right: 20px;
  width: auto;
  padding-left: 40px;
}
.productPage .rowTop .productDescriptionContainer .collection {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.productPage .rowTop .productDescriptionContainer .collection2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
}
.productPage .rowTop .productDescriptionContainer .productTitle {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 10px;
}
.productPage .rowTop .productDescriptionContainer .productPrice {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 100;
}
.productPage .rowTop .productDescriptionContainer .productDescription {
  color: rgba(0, 0, 0, 0.9);
  max-width: 530px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  display: inline-block;
  margin-top: 12px;
}
.productPage .rowTop .productDescriptionContainer .addToCartButton {
  background-color: black;
  padding: 12px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  display: table;
}
.productPage .rowTop .productDescriptionContainer .addToCartButtona {
  color: white;
}
.productPage .rowTop .productDescriptionContainer .addToCartButtona:hover {
  color: white;
}
.productPage .rowTop .productDescriptionContainer .socialContainer {
  margin-top: 33px;
}
.productPage .rowTop .productDescriptionContainer .socialContainer .shareIcons li {
  padding-right: 0;
}
.productPage .rowTop .productDescriptionContainer .socialContainer .shareIcons li a {
  color: rgba(0, 0, 0, 0.7);
}
.productPage .carouselContainer {
  width: 100%;
  padding: 0 40px;
  position: relative;
}
.productPage .carouselContainer .owl-carousel {
  position: initial;
}
.productPage .carouselContainer .owl-prev,
.productPage .carouselContainer .owl-next {
  position: absolute;
  top: 50%;
}
.productPage .carouselContainer .icon-right-dir::before,
.productPage .carouselContainer .icon-left-dir::before {
  content: url("/img/arrow_down.svg");
  width: 30px;
}
.productPage .carouselContainer .owl-prev {
  left: 0;
  transform: translateY(-50%) rotate(90deg);
}
.productPage .carouselContainer .owl-next {
  right: 0;
  transform: translateY(-50%) rotate(-90deg);
}
.productPage .rowDetails {
  font-family: proxima-nova, sans-serif;
  margin-top: 30px;
}
.productPage .rowDetails .blurb {
  display: inline-block;
  width: 459px;
  text-align: left;
  vertical-align: top;
}
.productPage .rowDetails .blurb .heading {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: initial;
  margin-bottom: 8px;
  margin-top: 20px;
}
.productPage .rowDetails .specs {
  margin-top: 53px;
  display: inline-block;
  text-align: left;
  margin-left: 50px;
  vertical-align: top;
  width: 410px;
}
.productPage .rowDetails .specs .section {
  margin-bottom: 20px;
}
.productPage .rowDetails .specs .heading {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: initial;
  margin-bottom: 8px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}
.productPage .featuresSection {
  margin-top: 40px;
}
.productPage .featuresSection .featuresContainer {
  background-color: rgba(0, 0, 0, 0.03);
  width: 930px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
}
.productPage .featuresSection .featuresContainer .hline {
  width: calc(100% - 80px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.productPage .featuresSection .featuresContainer .feature {
  padding: 30px;
  display: inline-block;
}
.productPage .featuresSection .featuresContainer .feature .iconFrame {
  display: inline-block;
  vertical-align: top;
  width: 240px;
}
.productPage .featuresSection .featuresContainer .feature .iconFrame .heading {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  margin-top: 6px;
}
.productPage .featuresSection .featuresContainer .feature .iconFrame img {
  width: 90px;
}
.productPage .featuresSection .featuresContainer .feature .bodyCopy {
  width: 430px;
  margin-top: 7px;
  display: inline-block;
  text-align: left;
  margin-left: 40px;
}
@media all and (max-width: 1000px) {
  .productPage .widthWrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .productPage .widthWrapper .rowTop {
    padding-top: 50px;
  }
  .productPage .widthWrapper .rowSlides {
    display: none;
  }
  .productPage .widthWrapper .rowDetails {
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
  }
  .productPage .widthWrapper .rowDetails .blurb {
    max-width: 100%;
  }
  .productPage .widthWrapper .rowDetails .specs {
    max-width: 100%;
    margin-left: initial;
  }
  .productPage .widthWrapper .featuresSection .featuresContainer {
    max-width: 100%;
  }
  .productPage .widthWrapper .featuresSection .featuresContainer .feature {
    margin: 30px;
    padding: initial;
    max-width: 410px;
  }
  .productPage .widthWrapper .featuresSection .featuresContainer .feature .bodyCopy {
    margin-left: initial;
    margin-right: initial;
    width: initial;
    display: block;
  }
  .productPage .productImageContainer img {
    width: 100%;
  }
  .productPage .productDescriptionContainer {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-right: 0;
    width: 100%;
    max-width: 410px;
  }
}
.termsPage {
  padding-top: 76px;
  text-align: center;
  display: inline-block;
  min-height: calc(100vh - 86px);
}
.termsPage .contentContainer {
  padding-top: 60px;
  padding-bottom: 130px;
  max-width: 1060px;
  text-align: left;
}
.termsPage .contentContainer .headline {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: initial;
  margin-bottom: 8px;
  margin-top: 20px;
  padding-left: 220px;
  margin-bottom: 32px;
}
.termsPage .contentContainer .navCol {
  width: 170px;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  text-transform: uppercase;
  margin-top: 5px;
}
.termsPage .contentContainer .navCol ul {
  padding-right: 23px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.termsPage .contentContainer .navCol ul li {
  margin-bottom: 14px;
}
.termsPage .contentContainer .navCol ul li.active-term-link {
  font-weight: bold;
  text-decoration: underline;
}
.termsPage .contentContainer .navCol ul li.bottomLink {
  margin-bottom: 0;
}
.termsPage .contentContainer .navCol ul a {
  cursor: pointer;
}
.termsPage .contentContainer .contentCol {
  display: inline-block;
  width: calc(100% - 170px - 170px);
  text-align: left;
  padding: 0 10px 0 50px;
}
.termsPage .contentContainer .contentCol .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.termsPage .contentContainer .rightCol {
  width: 170px;
}
@media all and (max-width: 870px) {
  body .loginPage .mainFrame .contentContainer .leftColLogin {
    display: block;
  }
  body .loginPage .mainFrame .contentContainer .middleColLogin {
    display: none;
  }
  body .loginPage .mainFrame .contentContainer .rightColLogin {
    display: block;
  }
}
.loginPage .mainFrame {
  margin: 0 96px;
  top: 76px;
  min-height: calc(100vh - 86px);
  position: relative;
  padding-top: 70px;
  text-align: center;
}
.loginPage .mainFrame .contentContainer {
  display: inline-block;
}
.loginPage .mainFrame .contentContainer .leftColLogin {
  display: inline-block;
  vertical-align: top;
  width: 280px;
}
.loginPage .mainFrame .contentContainer .middleColLogin {
  display: inline-block;
  width: 50px;
}
.loginPage .mainFrame .contentContainer .rightColLogin {
  display: inline-block;
  vertical-align: top;
  width: 280px;
}
.loginForm .title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: initial;
  text-align: left;
}
.signupForm .title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: initial;
  text-align: left;
}
